.fa-bounce-hover:hover{
    -webkit-animation: fa-bounce 2s infinite linear;
  -moz-animation: fa-bounce 2s infinite linear;
  -o-animation: fa-bounce 2s infinite linear;
  animation: fa-bounce 2s infinite linear;
}
.fa-spin-hover:hover {
  -webkit-animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-flip-hover:hover{
  -webkit-animation: fa-flip 2s infinite linear;
  -moz-animation: fa-flip 2s infinite linear;
  -o-animation: fa-flip 2s infinite linear;
  animation: fa-flip 2s infinite linear;
}

.fa-shake-hover:hover{
  -webkit-animation: fa-shake 2s infinite linear;
  -moz-animation: fa-shake 2s infinite linear;
  -o-animation: fa-shake 2s infinite linear;
  animation: fa-shake 2s infinite linear;
}