@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;800&display=swap');


.p-card{
     border-radius: 10px !important;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
          max-width: 100% !important;
          font-family: 'Tajawal', sans-serif !important;

}
body {

    font-family: 'Tajawal', sans-serif;
}