@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;800&display=swap');

body {

    font-family: 'Tajawal', sans-serif;
}

.p-card{
     border-radius: 10px !important;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
          max-width: 100% !important;
          font-family: 'Tajawal', sans-serif !important;

}

//---- Input---///
.p-float-label label{
    right: 0.5rem;
}

.p-float-label label {
    position: absolute;
    pointer-events: none;
    top: 50%;
    margin-top: -1rem;
    transition-property: all;
    transition-timing-function: ease;
    line-height: 1;
  }

.p-inputtext	{
    border-radius: 10px !important;
    
}
.p-multiSelect-label{
    border-radius: 10px !important;

}
error{
    font-size: 12px !important; 
    font-weight: bold !important;
}

.p-dropdown	{
    border-radius: 10px !important;

}

//--Buttons--//

.p-button	{
    border-radius: 10px !important;
}



//---Data Table---//
.p-paginator .p-dropdown .p-dropdown-label {
    padding-right: 0.5rem !important;
}
